<!--
title: План
description: 
published: true
date: 2021-11-04T19:18:53.809Z
tags: обучение
editor: ckeditor
dateCreated: 2021-11-04T19:18:53.809Z
-->

<p>6 этапов формирования курса</p>
<p>&nbsp;</p>
<p>1. Формирование -- темы (около 10), подтемы (3+), формат, ответственный, продолжительность курса общая (мин 15 часов), домашка</p>
<p>2. Упаковка -- продающая страница сайта (лендинг), оффер (стоимость и описание бонусов, все дедлайны), уникальное торговое предложение. Что ч-к узнает по окончанию курса, сможет и сделает во время и к завершению, что получит. Первые(!)</p>
<p>3. Продвижение -- каналы продвижения, расписать работу</p>
<p>4. Рекламные материалы. -- подключить людей, описать работы</p>
<p>5. Продажи -- продающие мероприятия (вебинары, онлайн-встречи, конференции и бесплатные продажи)</p>
<p>6. Ведение ответственные за проверку домашки, за проведение (?)</p>
