<!--
title: Темы
description: 
published: true
date: 2021-12-23T21:36:49.025Z
tags: обучение
editor: ckeditor
dateCreated: 2021-12-23T20:27:06.624Z
-->

<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>Темы</strong></td>
        <td><strong>Кол-во упоминаний</strong></td>
        <td><strong>Основная тема</strong></td>
        <td><strong>Подтемы</strong></td>
      </tr>
      <tr>
        <td>Опасаюсь, что так и не найду единомышленников\Понимать, где нужно проявить настойчивость в организации людей, а где - не существенно</td>
        <td>14</td>
        <td>Как найти единомышленников?</td>
        <td>
          <ol>
            <li>Как привлечь коллег на свою сторону?</li>
            <li>Каких тем избегать?</li>
            <li>Кого привлекать?</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Сложности в понимании юридический тонкостей</td>
        <td>11</td>
        <td>Юридическая\Правовая часть профсоюзной деятельности</td>
        <td>
          <ol>
            <li>Что такое коллективный договор?</li>
            <li>Чего может добиться профсоюз?</li>
            <li>Как должна выглядеть защита трудовых прав</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Нарушение прав работолателем\Улучшение условий труда</td>
        <td>10</td>
        <td>Права трудящихся</td>
        <td>
          <ol>
            <li>Какие виды нарушений бывают?</li>
            <li>Где найти юр. помощь?</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Знания, которые помогут обьединятся и боротся\Знания по организации групп-профсоюзов\Организациясовершенствование и модернизация профсоюзов,с учетом современных реалий\Страх входить в контакт и агитировать, потому что нет чёткой базы знаний\организация рабочего независимого профсоюза</td>
        <td>10</td>
        <td>Как орагнизовать рабочий, независимый профсоюз?</td>
        <td>
          <ol>
            <li>Найдя единомышленников, как вести беседу о коллективных действиях?</li>
            <li>О чем должен знать агитатор?</li>
            <li>Когда профсоюзу следует оформляться и переходить к коллективным действиям?</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Увольнение, привлечение</td>
        <td>7</td>
        <td>Реакция на давление со стороны работодателя</td>
        <td>
          <ol>
            <li>На что может пойти работодатель?</li>
            <li>От чего защищен работник по ТК?</li>
            <li>Защита от неправомерных мер со стороны работодателя и попыток увольнения.</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Коммуникация с руководством\\Знать алгоритмы действий в случае возникновения конфликтных ситуаций с работодателем\Знания по проведению переговоров с руководством.</td>
        <td>5</td>
        <td>Коммуникация с руководством</td>
        <td>
          <ol>
            <li>Когда следует переходить к коллективным действиям?</li>
            <li>Коллективные действия каких форм подходят к каким ситуациям?</li>
            <li>Как вести переговоры?</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Страх перед гос. Структурами</td>
        <td>4</td>
        <td>Правильное заимодействие с гос. Структурами</td>
        <td>
          <ol>
            <li>Как происходит взаимодействие профсоюз-гострудинспекция?</li>
            <li>Как происходит взаимодействие профсоюз-суд</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Опасение превращения в "жёлтый профсоюз"\Состою в профсоюзе, в организациях которого запрещена политическая деятельность и забастовки</td>
        <td>3</td>
        <td>"Желтые" профсоюзы</td>
        <td>
          <ol>
            <li>Что делает профсоюз желтым?</li>
            <li>Если в компании есть профсоюз, как проверить, желтый ли он?</li>
            <li>Как обезопасить профсоюз от пожелтения?</li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Отсутствие структурированной информации о том, какие профсоюзы существуют в нашем регионе\отрасли промышленности и какие проблемы они решают в данный момент\\Иметь представление об организациях и необходимых действиях до того, как возникнет срочная необходимость</td>
        <td>2</td>
        <td>Отсутствие структурированной информации о том, какие профсоюзы существуют в нашем регионе\отрасли промышленности</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Получение практического опыта органайзенгу</td>
        <td>2</td>
        <td>Как получить практический опыт органайзинга?</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
