<!--
title: Созвоны
description: 
published: true
date: 2022-05-23T09:41:28.741Z
tags: 
editor: ckeditor
dateCreated: 2022-05-23T09:41:28.741Z
-->

<p>Какие улучшения следует произвести:</p>
<p>&nbsp;</p>
<p>1. Редизайн сайта. Нынешний был разработан примерно в ~2015 году, и концепции сильно изменились. Нынешний сайт имеет проблемы с адаптивностью, имеет много мелких цветов, маленьких изображений и прочего легаси. Требуется разработать новый дизайн, сверстать по нему макеты и натянуть вёрстку. Особых пожеланий высказано не было, полный простор для творчества, главное, чтобы красиво и современно.&nbsp;</p>
<p>&nbsp;</p>
<p>2. Нынешний движок - Wordpress, поэтому не исключается полная замена движка на самописный. В этом случае потребуется разработать сайт и админку для него с нуля.&nbsp;</p>
<p>2.1. В этом случае ещё необходимо разработать механизм миграции данных - восстановление статей с нового сайта на новом движке. Архив с данными (картинки, тексты, ссылки) имеется, формат не уточняли.&nbsp;</p>
<p>2.2. В этом случае ещё необходимо провести исследование сайта, и составить список фич, которые существует на сайте уже сейчас (теги статей, категории статей, количество просмотров, авторы и т.д.)</p>
<p>&nbsp;</p>
<p>3. Система централизованных публикаций. Статьядолжна публиковаться на сайте с помощью админки (или telegram бота), и автоматически появляется в социальных сетях Рабкора - Twitter, Telegram, VK, и прочие. При добавлении видео на канале Youtube оно так же автоматически должно поститься на сайте в социальных сетях.&nbsp;</p>
<p>&nbsp;</p>
<p>3. Мониторинг дружественных каналов. Сейчас репост видео дружественных каналов (Вестника Бури, Агитпропа, Страйка) происходит вручную, это хочется автоматизировать. Когда выходит какое-либо видео у дружественного канала, оно постится на сайт Рабкора (возможно, также в социальные сети).</p>
<p>&nbsp;</p>
<p>4. Интеграция с социальными сетями. Каждая статья сопровождается ссылками на эту же статью в соцсетях Рабкора, с предложением обсудить данную новость. Помимо этого, каждой статьёй должно быть можно поделиться в собственных соцсетях, чем больше, тем лучше.</p>
<p>&nbsp;</p>
<p>5. Народная корректура. Иметь живого корректора - очень дорого, нагрузка получается очень высока. Необходимо реализовать фичу "предложить правку". Пользователь выбирает, как ему кажется, ошибку или опечатку, и предлагает свой вариант замены. Предложение о замене отправляется в админку и висит там, ожидая, пока его примет или отклонит модератор\админ. После одобрения правка немедленно применяется к тексту.&nbsp;</p>
<p>&nbsp;</p>
<p>6. Умный поиск по сайту. Пользователь вводит строку в предлагаемое поле, сайт в ответ выдаёт совпадения по тексту статей, заголовкам и так далее. Чем полнее - тем лучше.</p>
