<!--
title: Дизайн сайта
description: 
published: true
date: 2022-05-23T09:40:19.611Z
tags: 
editor: ckeditor
dateCreated: 2022-05-22T18:08:55.517Z
-->

<p><a href="https://www.figma.com/file/hARJrXhiA956MxRiflEAfr/%D0%A0%D0%B0%D0%B1%D0%BA%D0%BE%D1%80?node-id=0%3A1">https://www.figma.com/file/hARJrXhiA956MxRiflEAfr/%D0%A0%D0%B0%D0%B1%D0%BA%D0%BE%D1%80?node-id=0%3A1</a></p>
<p>&nbsp;</p>
